<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="30300">
		<setting id="default_account" label="30001" type="text" visible="false" />
		<setting id="default_account_ui" label="30301" type="action" action="RunPlugin(plugin://plugin.video.gdrive/?mode=set_default_account)" />
		<setting id="fallback" label="30302" type="bool" default="false" />
		<setting id="fallback_accounts" label="30001" type="text" visible="false" />
		<setting id="fallback_accounts_ui" label="30303" subsetting="true" type="action" action="RunPlugin(plugin://plugin.video.gdrive/?mode=add_fallback_account)" visible="eq(-2,true)" />
		<setting id="validate_accounts" label="30304" type="action" action="RunPlugin(plugin://plugin.video.gdrive/?mode=validate_accounts)" />
		<setting id="delete_accounts" label="30305" type="action" action="RunPlugin(plugin://plugin.video.gdrive/?mode=settings_delete_account)" />
	</category>

	<category label="30400">
		<setting id="movie_watch_time" label="30401" type="slider" default="93" option="percent" range="0,1,100" />
		<setting id="tv_watch_time" label="30402" type="slider" default="88" option="percent" range="0,1,100" />
		<setting id="quality_prompt" label="30407" type="bool" default="true" />
		<setting id="default_resolution" label="30408" type="select" values="Original|1080P|720P|360P" default="Original" enable="eq(-1,false)" />
		<setting id="playback_action" label="30403" type="select" values="Show resume prompt|Resume automatically|Play from beginning" default="Show resume prompt" />
		<setting id="subtitles" label="30404" type="select" values="Subtitles are named the same as STRM|Subtitles aren't named the same as STRM and are in an isolated folder with STRM" default="Subtitles are named the same as STRM" />
		<setting id="watcher" label="30405" type="bool" default="true" />
		<setting id="video_db" label="30406" type="file" default="special://profile/Database/MyVideos116.db" />
	</category>

	<category label="30500">
		<setting label="30501" type="lsep" />
		<setting id="server_port" label="30502" type="number" default="8011" />
		<setting label="30503" type="lsep" />
		<setting id="crypto_password" label="30504" type="text" />
		<setting id="crypto_salt" label="30505" type="file" />
	</category>

</settings>